*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'HSYuji-Regular';
    margin-left: 80px;
}
.list{
    position: relative;
    left: 30px;
    padding-top: 3em;
    line-height: 5rem;
}
.list > img{
    width: 700px;
}
.list .bucket{
    position: absolute;
    top: 200px;
    left: 50px;
    font-family: 'ACCchildrenheartOTF-Regular';
    width: 100%;
}
@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
